html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
}

.clickable{
	cursor: pointer;
}

/* OLD NAV
nav{
	width: 100%;
	top: 0;
	position: absolute !important;
	transition: .5s;
	font-size: 16px;
	overflow: hidden;
	justify-content: center;
	margin: 0 !important;
	padding: 0; 
}

#navbar{
	padding: 0;
}

.nav-item{
	list-style-type: none;
	display: inline-block;
	margin-top: 6px;
	padding: 18px 22px;
	font-size: 1.2em;
	font-family: inherit;
	cursor: pointer;
	border-radius: 10px;
	transition: .3s;
}

.nav-item > a{
	text-decoration: none !important;
}

.nav-item a{
	color: #696969;
}
 */


.nav-link{
	padding: 0 !important;
}


.toggle-btn{
	display: flex;
	position: fixed;
	background: #00d0cf;
	border-radius: 33px;
	opacity: 0.5;
	top: 0;
	right: 0;
	padding-top: 32px;
	padding-bottom: 28px;
	padding-right: 60px;
	padding-left: 40px;
	margin: 30px;
	width: 40px;
	height: 12px;
	z-index: 9999 !important;
	cursor: pointer;
}

@media only screen and (max-width: 991px) {
	
	.toggle-btn{
		opacity: 0.5;
		z-index: 1001 !important;
	}


}

.toggle-btn:hover{
	opacity: 1;
	transition: 0.3s ease-in-out;
	z-index: 9999 !important;
}

span.one{
	position: absolute;
	width: 40px;
	height: 2px;
	top: 0;
	background: white;
	right: 0;
	margin: 30px;
	margin-top: 25px;
	margin-top: 25px;
	z-index: 9999 !important;
}

span.two{
	position: absolute;
	width: 40px;
	height: 2px;
	background: #fff;
	margin-top: 12px;
	top: 0;
	right: 0;
	margin: 30px;
	margin-top: 32px;
	z-index: 9999 !important;

	
}



.menu{
	z-index: 1000 !important;
	position: fixed !important;
	background:#101010;
	height: 100% !important;
	width: 100%;
	top: -200%;
	display: flex;
	
}

.data{
	padding: 8em 0 0 2em;
	text-align: left;
	align-self: center;
}

.data li:hover a{
	color: #00d0cf;
	transition: 0.5s ease-in-out;
}

.menu ul{
	list-style: none;
}

.menu ul li:first-child{
	color: grey;
	font-family: Poppins;
	font-size: 24px;
}

.menu ul li:not(:first-child){
	color: #fff;
	font-size: 42px;
}

.menu ul li a{
	text-decoration: none;
	color: #fff;
	font-family: Poppins;
}


/* mobile media query */
@media only screen and (max-width: 991px) {

	.nav-item a{
		font-size: 1em;
	}

	.nav-item:hover a{
		color: #4b4a4a;
	}
}

/* desktop media query */
@media only screen and (min-width: 991px) {

	.nav-item:hover{
		background: #00d0cf;
		color: white
	}
	.nav-item:hover a{
		color: white !important;
		text-decoration: none;
	}
	
}

#header{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
	padding: 0;
	margin: 0;
}

#header > h1{
	color: #696969;
	margin: 0;
	padding: 0;
}

#header img{
	min-width: 220px;
}

#header p{
	color: #696969;
}

.bring-to-front{
	z-index: 999;
}

.social-icons > a > i{
	color: #696969
}

@media only screen and (min-width: 991px) {
	.social-icons > a:hover{
		background: #00d0cf;
		transition: 0.2s;
	}

	.social-icons > a:hover i{
		color: white;
		transition: 0.2s;
	}
}

.info-section{
	margin: 0px;
	padding: 6px;
}


.info-section h3{
	align-self: center;
	background-color: #ffcfdf;
	background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
	padding: 25px;
	height: 100%;
}

#about-me h3{
	grid-area: title;
	align-self: center;
	background-color: #ffcfdf;
	background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
	padding: 25px;
	height: 100%;
}



/* #about-me{
	padding: 22px;
}

#fun-facts{
	float: left;
	width: 50%;
	display: flex;
	padding: 10px 16px;
}

#fun-facts img{
	max-width: 50%;
	max-height: 300px;
	float: left;
	border-radius: 300px;
	margin-right: 22px;
}

#fun-facts #facts{
	align-self: center;
}

#description{
	clear: both;
	float: right;
}

#portfolio{
	clear: both;
} */


/* ABOUT SECTION */

#about-me{
	display: grid;
	grid-template: "title title title" 80px  "img ff desc" auto / minmax(100px, 250px) auto auto;
	/* border: solid 2px red; [debug] */
	font-size: 16px;
}

#fun-facts{
	display: flex;
	align-items: center;
	padding: 6px;
	width: 100%;
	/* justify-content: center; */
}

#about-me img{
    grid-area: img;
    max-width: 100%;
    max-height: 251px;
    border-radius: 32px;
    /* margin-left: 12px; */
    justify-self: end;
    align-self: center;
    min-width: 120px;
    /* border-right: solid 1px grey; */
	padding: 8px;
}


#fun-facts #facts{
	grid-area: ff;
	/* display: inherit; [inline display] */
	/* border: solid 5px blue; [debug] */
	float: right;
	border-left: solid 1px grey;
	margin-left: 16px;
	padding: 10px;
	font-size: 1rem;
}

#fun-facts #facts p{
	margin: 10px;
}

#about-me #description{
	display: inherit;
	grid-area: desc;
	align-content: center;
	border-left: solid 1.5px darkgray;
	padding: 6px 22px;
	height: 90%;
	/* margin: 0px; */
	align-self: center;
	font-size: 1em;
	/* border: solid 5px green; [debug] */
}

#description .blockquote{
	font-size: 0.8em;
	color: #00d0cf;
	opacity: 0.5;
}


/* desktop media query */
@media only screen and (min-width: 991px) {
	#description blockquote:hover {
		opacity: 1;
		transition: 0.5s ease;
	}
}


/* mobile media query */
@media only screen and (max-width: 991px) {

	#about-me{
		grid-template: "title title" 80px   "img ff" auto    "desc desc" auto / minmax(100px, 50%) auto;
		clear: both;
		padding: 12px;
		font-size: 0.89em;
	}

	#about-me #description{
		align-content: start;
	}

	#fun-facts #facts{
		display: inline;
		font-size: 1em;
	}
}

/* SERVICES SECTION */

#services #toolcards{
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0;
	max-width: 100% !important;
}

#toolcard{
	max-height: 80vh;
	min-width: 200px;
	margin: 22px;
	padding: 6px;
	max-width: 400px;
	overflow: scroll;
	font-size: 0.9em;
}

#toolcard-title{
	padding: 8px;
}

#toolcard img{
	max-width: 130px;
}

#service-info{
	padding: 12px 16px;
}

#services .technologies{
	border-top: solid 0.8px rgba(105,105,105, 0.3);
	padding: 8px;
	margin-bottom: 2px;
	padding-bottom: 0;
	margin: 0 auto;
}

#services .technologies img{
	max-width: 48px;
	max-height: 80px;
	padding: 5px;
}


#services .technologies img:not(:first-child){
	border-left: solid 0.3px rgba(105,105,105, 0.3);
	padding-left: 12px;
}


/* desktop media query */
@media only screen and (min-width: 991px) {
	#services .technologies img{
		filter: grayscale(100%);
	}

	#services .technologies img:hover{
		filter: grayscale(0%);
		transition: 0.3s ease-in-out;
	}

}


/* mobile media query */
@media only screen and (max-width: 991px) {
	#services .technologies img{
		max-width: 35px;
		max-height: 60px;
		padding: 0px;
	}
}


/* DESKTOP WORKS SECTION */
.carousel{
	position: relative;
	height: 100%;
	width: 80%;
	margin: 0 auto;
}

.carousel-images {
	width: 70%;
	min-width: 150px;
	height: 100%;
	object-fit: contain;
}

.carousel-track-container{
	background: transparent;
	height: 80vh;
	position: relative;
	overflow: hidden;
}

.carousel-track{
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	height: 100%;
	transition: transform 250ms ease-in;
}

.carousel-slide{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.project-info{
	height: 100%;
	width: 30%;
	display: flex;
	float: right;
	flex-direction: column;
	justify-content: center;
	/* padding: 0; */
	/* margin: 0; */
}

.project-title{
	font-weight: 900;
	font-size: 3vmin;
	color: inherit;
	margin: 0;
}

.project-tools{
	font-size: 1.6vmin;
	font-weight: 300;
	opacity: 0.8;
	margin-bottom: 8px;
}

.project-info button{
	width: 100%;
	justify-self: center;
	align-self: center;
	font-size: 12px;
	cursor: pointer;
	background: teal;
	border: none;
	border-radius: 22px;
	color: #fff;
	font-weight: 800;
	opacity: 0.5;
}

.carousel-btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: 0;
	cursor: pointer;
}

.carousel-btn-left{
	left: -50px;
}

.carousel-btn-right{
	right: -50px;
}

.carousel-btn img{
	width: 22px;
}

.carousel-nav{
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    bottom: 0px;
}

.carousel-indicator{
	border: 0;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background: rgba(0,0,0,0.3);
	margin: 0 12px;
	cursor: pointer;
}

.carousel-indicator.current-slide{
	background: rgba(0,0,0, 0.75);
}

.is-hidden{
	opacity: 0.1;
	pointer-events: none;
}

/* MOBILE WORKS SECTION */
@media only screen and (max-width: 991px) {
	.carousel-images {
		width: 100%;
		height: 45%;
		object-fit: contain;
	}

	.project-info{
		height: 30%;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}
	
	.project-title{
		font-weight: 900;
		font-size: 5.5vmin;
		color: inherit;
	}
	
	.project-tools{
		font-size: 70%;
		font-weight: 300;
		opacity: 0.8;
	}
	
	.project-info button{
		width: 109px;
		justify-self: center;
		align-self: center;
		font-size: 12px;
		cursor: pointer;
		background: #696969;
		border: none;
		border-radius: 22px;
		color: #fff;
		font-weight: 900;
		opacity: 1;
	}


	.carousel{
		position: relative;
		height: 100%;
		width: 80%;
		margin: 0 auto;
	}
	
	.carousel-track-container{
		background: transparent;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	
	.carousel-track{
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;
		height: 60vh;
		transition: transform 250ms ease-in;
	}
	
	.carousel-slide{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}
	
	.project-title{
		font-weight: 900;
		font-size: 150%;
		color: inherit;
	}
	
	.carousel-btn{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: transparent;
		border: 0;
		cursor: pointer;
	}
	
	.carousel-btn-left{
		left: -50px;
	}
	
	.carousel-btn-right{
		right: -45px;
	}
	
	.carousel-btn img{
		width: 22px;
	}
	
	.carousel-nav{
		background: transparent;
		display: flex;
		justify-content: center;
		padding: 10px 0;
		position: relative;
		bottom: 50px;
	}
	
	.carousel-indicator{
		border: 0;
		border-radius: 20%;
		width: 4px;
		height: 6px;
		background: rgba(0,0,0,0.3);
		margin: 0 6px;
		cursor: pointer;
	}
	
	.carousel-indicator.current-slide{
		background: rgba(0,0,0, 0.75);
	}
	
	.is-hidden{
		opacity: 0.1;
		pointer-events: none;
	}
}


.form-background {
  display: flex;
  min-height: 20vh;
  margin-bottom: 10px;
}

.form-container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}


.close{
	float: none !important;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 991px) {
	.app-contact:hover{
		color: #3e3e3e;
		background: white;
		transition: color 0.2s ease-in-out;
	}	
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: indianred;
  font-size: 26px;
}

/* .app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 25px;
  height: 1px;
  background: indianred;
} */

.app-contact {
 margin-top: auto;
 font-size: 32px;
 background: transparent;
 color: white;
 border: solid 3px white;
 padding: 13px;
 width: 100%;
 text-align: center;
 border-radius: 33px;
 font-weight: 800;
}

.app-form-group {
  margin-bottom: 15px;
  padding: 12px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: lowercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: indianred;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #eee;
  transition: color 0.3s ease;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}



footer{
	font-size: 10px;
	height: min-content;
	background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    padding: 1px;
}

footer a{
	font-size: 10px;
	font-weight: 100;
	color: inherit;
}


footer span.links{
	position: absolute;
	right: 8px;

}

footer a:not(:first-child){
	margin-left: 18px;
}
