html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	font-family: 'Montserrat', sans-serif;
}


#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;

}

nav{
	width: 100%;
	top: 0;
	position: absolute !important;
	transition: .5s;
	font-size: 16px;
	overflow: hidden;
	justify-content: center;
	margin: 0 !important;
}


.nav-item{
	list-style-type: none;
	display: inline-block;	
	padding: 10px 12px;
	font-size: 1.2em;
	font-family: inherit;
	cursor: pointer;
	border-radius: 10px;
	transition: .3s;
}

.nav-item a{
	color: #696969;
}


@media only screen and (max-width: 991px) {

	.nav-item{
		padding: 2px;
		margin-left:2px !important;
	}
}

@media only screen and (min-width: 991px) {

	.nav-item:hover{
		background: #00d0cf;
		color: white
	}
	.nav-item:hover .nav-link{
		color: white !important;
		text-decoration: none;
	}
}

#header{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
	padding: 0;
}

#header > h1{
	color: #696969;
	margin: 0;
	padding: 0;
}

#header img{
	min-width: 220px;
}

#header p{
	color: #696969;
}

.bring-to-front{
	z-index: 999;
}

.social-icons > a > i{
	color: #696969
}

@media only screen and (min-width: 991px) {
	.social-icons > a:hover{
		background: #00d0cf;
		transition: 0.2s;
	}

	.social-icons > a:hover i{
		color: white;
		transition: 0.2s;
	}
}

.info-section{
	padding: 22px;
	margin: 12px;
	border-bottom: 2px solid grey;
}




