html{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

#header > h1{
	color: #696969;
	margin: 0;
	padding: 0;
}

#header img{
	min-width: 220px;
}


.bring-to-front{
	z-index: 999;
}

.social-icons > a > i{
	color: #696969
}

.social-icons > a:hover i{
	color: black;
	transition: 0.3s ease-in;
}

#header{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#header p{
	color: #696969;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	/* z-index: 0; */
}

.info-section{
	padding: 22px;
	border-bottom: 2px solid grey;
}




